body{
    background-color: #1e212d;
    font-family: 'Nova Mono', monospace;
    margin: 0px;
}


h1{
    color: #faf3e0;
    text-shadow: 0 0 6px #b68973;
}


h2{
    color: #eabf9f;
    text-shadow: 0 0 3px #b68973;
}


h3{
    color: #faf3e0;
    text-shadow: 0 0 3px #b68973;
}


h4{
    color: #eabf9f;
    text-shadow: 0 0 3px #b68973;
}


h5{
    color: #faf3e0;
    text-shadow: 0 0 3px #b68973;
}


h6{
    color: #eabf9f;
    text-shadow: 0 0 3px #b68973;
}


p{
    color: #faf3e0;
    text-shadow: 0 0 3px #b68973;
}


table{
    color: #faf3e0;
    text-shadow: 0 0 3px #b68973;
}

hr{
    border-style: none;
    border-top-style: dashed;
    border-color: #b68973;
    border-width: 5px;
    width: 10%;
}


#jump_to{
    height: 20px;
    background-color: #1e212d;
    text-align: right;
    position: sticky; 
    top: 0;
}


#jump_to p{

    margin-top: 0px;

    opacity: 0.5;
    line-height: 20px;
    
}


#jump_to p:hover{
    opacity: 1;
}


#jump_to a{
    color: #faf3e0;
    text-decoration: none;
    
}


#jump_to a:hover{
    text-shadow: 0 0 10px #b68973;
}

